<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test" group-by-instances="true">
    <classes>
      <class name="hrvnext_h_crud_annual_leave.login"/>
      <class name="hrvnext_h_crud_annual_leave.gescne_0_cne1_it1"/>
      <class name="hrvnext_h_crud_annual_leave.gescne_0_cne1_t2_it1"/>
      <class name="hrvnext_h_crud_annual_leave.gescne_0_cne1_it2"/>
      <class name="hrvnext_h_crud_annual_leave.gescne_0_cne1_t2_it2"/>
      <class name="hrvnext_h_crud_annual_leave.gescne_0_cne1_it3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
